# openai
export OPENAI_API_KEY={{ onepasswordRead "op://chezmoi/chezmoi_openai_token/password" }}

# z.AI
{{ if ne .chezmoi.hostname "Mac" }}
export ANTHROPIC_BASE_URL={{ onepasswordRead "op://chezmoi/chezmoi_zai_url/password" }}
export ANTHROPIC_AUTH_TOKEN={{ onepasswordRead "op://chezmoi/chezmoi_zai_token/password" }}
{{ end }}

# Google gemini
export GOOGLE_API_KEY={{ onepasswordRead "op://chezmoi/chezmoi_gemini_token/password" }}

# Hetzner
export HCLOUD_TOKEN={{ onepasswordRead "op://chezmoi/chezmoi_hcloud_token/password" }}

# Kubeconfig
export KUBECONFIG=~/.kube/config
