# openai
export OPENAI_API_KEY={{ keyring "openai" "token" }}

# z.AI
export ANTHROPIC_BASE_URL={{ keyring "zai" "url" }}
export ANTHROPIC_AUTH_TOKEN={{ keyring "zai" "token"}}

# Google gemini
export GOOGLE_API_KEY={{ keyring "gemini" "token" }}
